.home-img{
  width: 900px;
  height: 650px;
}

.intro {
  position: relative;
  top: 150px;
  left: 70px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.github {
  border: 2px solid white;
  display: inline-block;
  background-color: aliceblue;
  border-radius: 30%;
  cursor: pointer;
  position: relative;
  z-index: 0;
}
.github:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  border-radius: 20px;
}

.github:active {
  color: #000;
}

.github:active:after {
  background: transparent;
}

.github:hover:before {
  opacity: 2;
}

.github:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(252, 252, 252);
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.linkedin {
  border: 2px solid white;
  display: inline-block;
  background-color: aliceblue;
  border-radius: 30%;
  cursor: pointer;
  position: relative;
  z-index: 0;
}
.linkedin:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  border-radius: 20px;
}

.linkedin:active {
  color: #000;
}

.linkedin:active:after {
  background: transparent;
}

.linkedin:hover:before {
  opacity: 2;
}

.linkedin:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(252, 252, 252);
 
  border-radius: 10px;
}

/* resume  */

.resume {
  display: flex;
  font-size: x-large;
  color: white;
  margin: 1vw auto;
  position: relative;
  right:120px;
  text-align: center;
  width: 17vw;
}
.resume-title{
    color: rgb(124, 15, 146);
    font-weight: bolder;
    text-decoration: none;
}
.product {
  flex: auto;
  margin: 0 1vw calc(1vw + 50px) 1vw;
  min-width: calc(33% - 2vw);
  position: relative;
}

.product:before {
  content: "";
  float: left;
  padding: 100px;
}

.content {
  background: rgb(255, 255, 255);
  border-radius: 20px;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0px 0px 10px 0px black;
  height: 35px;
  margin: 8%;
  text-align: center;
  position: absolute;
  width: 84%;
  vertical-align: middle;

}

.product:hover .effect-1,
.product:hover .effect-2 {
  display: block;
}

.effect-1,
.effect-2 {
  border-radius: 20px;
  display: none;
  mix-blend-mode: multiply;
  height: 35px;
  opacity: 1;
  position: absolute;
  width: 84%;
 
}

.effect-1 {
  animation: rotate 1.8s linear infinite;
  background: rgb(75, 212, 247);
}

.effect-2 {
  animation: rotate 1.2s linear reverse infinite;
  background: #af73c7;
}

@keyframes rotate {
  0% {
    top: 0;
    left: 8%;
  }
  25% {
    top: 8%;
    left: 0%;
  }
  50% {
    top: 16%;
    left: 8%;
  }
  75% {
    top: 8%;
    left: 16%;
  }
  100% {
    top: 0;
    left: 8%;
  }
}


@media only screen and (min-width: 300px) and (max-width: 500px){
  .home-img{
    width: 250px;
    height: 250px;
  }
  
  .intro {
    margin: 0;
    font-size: small;
    
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  
  .github {
    border: 2px solid white;
    display: inline-block;
    background-color: aliceblue;
    border-radius: 30%;
    cursor: pointer;
    position: relative;
    z-index: 0;
  }
  .github:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    border-radius: 20px;
  }
  
  .github:active {
    color: #000;
  }
  
  .github:active:after {
    background: transparent;
  }
  
  .github:hover:before {
    opacity: 2;
  }
  
  .github:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(252, 252, 252);
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  
  @keyframes glowing {
    0% {
      background-position: 0 0;
    }
  
    50% {
      background-position: 400% 0;
    }
  
    100% {
      background-position: 0 0;
    }
  }
  
  .linkedin {
    border: 2px solid white;
    display: inline-block;
    background-color: aliceblue;
    border-radius: 30%;
    cursor: pointer;
    position: relative;
    z-index: 0;
  }
  .linkedin:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    border-radius: 20px;
  }
  
  .linkedin:active {
    color: #000;
  }
  
  .linkedin:active:after {
    background: transparent;
  }
  
  .linkedin:hover:before {
    opacity: 2;
  }
  
  .linkedin:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(252, 252, 252);
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  
  /* resume  */
  
  .resume {
    display: flex;
    font-size: x-large;
    color: white;
    margin: 1vw auto;
    position: relative;
    top: 150px;
    right: 110px;
    text-align: center;
    width: 17vw;
  }
  .resume-title{
      color: rgb(185, 58, 211);
      font-weight: bolder;
      text-decoration: none;
  }
  .product {
    flex: auto;
  
    margin: 0 1vw calc(1vw + 50px) 1vw;
    min-width: calc(33% - 2vw);
    position: relative;
  }
  
  .product:before {
    content: "";
    float: left;
    padding-top: 100%;
  }
  
  .content {
    background: rgb(255, 255, 255);
    border-radius: 20px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 0px black;
    height: 20%;
    margin: 8%;
    text-align: center;
    position: absolute;
    width: 84%;
    vertical-align: middle;
    z-index: 5000;
  }
  
  .product:hover .effect-1,
  .product:hover .effect-2 {
    display: block;
  }
  
  .effect-1,
  .effect-2 {
    border-radius: 20px;
    display: none;
    mix-blend-mode: multiply;
    height: 20%;
    opacity: 1;
    position: absolute;
    width: 84%;
    z-index: 3000;
  }
  
  .effect-1 {
    animation: rotate 1.8s linear infinite;
    background: rgb(75, 212, 247);
  }
  
  .effect-2 {
    animation: rotate 1.2s linear reverse infinite;
    background: #af73c7;
  }
  
  @keyframes rotate {
    0% {
      top: 0;
      left: 8%;
    }
    25% {
      top: 8%;
      left: 0%;
    }
    50% {
      top: 16%;
      left: 8%;
    }
    75% {
      top: 8%;
      left: 16%;
    }
    100% {
      top: 0;
      left: 8%;
    }
  }
}