
.card {
  box-shadow: 0px 0px 12px black;
}

.btn {
  font-weight: 600;
  color: #ffffff;
  text-shadow: 0px 0px 10px rgb(0, 0, 0) ;
  text-align: center;
  height: 45px;
  width: 7.5rem;
  border: 4px solid #ffffff;
  border-radius: 25px;
  margin-top: 10px;
}



.btn {
  background: linear-gradient(#42e601, #d41e73);
  transition: all 0.4s;
  transition-timing-function: cubic-bezier(0.5, 3, 0, 1);
}

.btn:hover {
  transform: scale(1.1, 1.1);
}
