.card-title {
    text-align: center;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 5px;
    background-color: aliceblue;
    box-shadow: 2px 4px 5px rgb(143, 141, 141);
    margin: 5px;
}
.show-skills{
    width: 55rem;
    
}
.skilling{
    display: flex;
    justify-content: space-between;
}
.skill-icons{
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgb(143, 141, 141);
    border-radius: 25px;
    padding: 5px;

}
.card-img-top{
    height: 8.5rem;
}

.link{
    text-decoration: none;
    color: black;
}



@media only screen and (min-width: 300px) and (max-width: 600px){
    .card-title {
        text-align: center;
        border: 1px solid rgb(224, 224, 224);
        border-radius: 5px;
        background-color: aliceblue;
        box-shadow: 2px 4px 5px rgb(143, 141, 141);
        margin: 5px;
    }
    .show-skills{
        width: 10rem;
        margin: 80px;
    }
  
    .skill-icons{
        border: 1px solid rgb(255, 255, 255);
        box-shadow: 0px 0px 10px rgb(143, 141, 141);
        border-radius: 25px;
        padding: 5px;
       
    
    }
    .card-img-top{
        height: 10rem;
    }
 
    
    .link{
        text-decoration: none;
        color: black;
    }
    
}